@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #02092a;
  height: 100vh;
  display: flex;

}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 1s ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 35px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
  color: rgba(250, 235, 215, 0.8);
  box-shadow: 0px 0px 0px 1px;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.slide:hover {
  color: antiquewhite;
  box-shadow: 0px 0px 0px 3px;
}